.card {
  padding-bottom: 15px;
  height: 100%;
  .content {
    padding: 15px;
  }
  .card-footer {
    justify-content: center;
    align-items: center;
    border-top: none;
    margin-top: auto;
  }
}
.equal-height {
  display: flex;
  flex-direction: column;
  height: 100%;
}
